.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text-note {
  color: '#bdc3c7';
  font-style: italic;
}

.btn-fullwidth {
  width: 80%;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
}

.header-content {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.header-content h3,
.header-content,
.header-content .col {
  margin: 0;
  padding-left: 0;
}
